<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-gradient full-height">
    <div class="container-sm">
      <div class="header mt-5">
        <h2>React Rails Project</h2>
      </div>
      <div class="wrapper">
        <%= yield %>
      </div>
      <div class="header"></div>
    </div>
  </body>
</html>
